In [31]:
import pandas as  pd

In [32]:
d=pd.read_csv("./Medicaid1986.csv")
d.drop(["health1","health2"], axis=1, inplace=True)
d.head()

,rownames,visits,exposure,children,age,income,access,married,gender,ethnicity,school,enroll,program
0,1,0,100,1,24,14.500,0.50,no,female,cauc,13,yes,afdc
1,2,1,90,3,19,6.000,0.17,no,female,cauc,11,yes,afdc
2,3,0,106,4,17,8.377,0.42,no,female,cauc,12,yes,afdc
3,4,0,114,2,29,6.000,0.33,no,female,cauc,12,yes,afdc
4,5,11,115,1,26,8.500,0.67,no,female,cauc,16,yes,afdc

In [33]:
bins = {
    'visits': [-1, 1, 6, 10, float('inf')],
    'exposure': [0, 30, 60, 90, 120, float('inf')],
    'children': [-1, 0, 1, 2, 3, float('inf')],
    'age': [0, 18, 30, 50, 70, float('inf')],
    'income': [-1, 30, 50, 70, 90, float('inf')],
    'access': [ 0, 1, float('inf')],

}

labels = {
    'visits': ['0-1', 'between 2 and 6', 'between 7 and 10', '10+'],
    'exposure': ['0-30', '31-60', '61-90', '91-120', '120+'],
    'children': ['None', 'One', 'Two', 'Three', 'Four or more'],
    'age': ['Child', 'Young Adult', 'Adult', 'Middle-Aged', 'Senior'],
    'income': ['Low', 'Lower Middle', 'Middle', 'Upper Middle', 'High'],
    'access': ['Low Access', 'High Access'],

}

for feature in bins.keys():
    d[feature + '_category'] = pd.cut(d[feature], bins=bins[feature], labels=labels[feature])

d.drop(list(bins.keys()), axis=1, inplace=True)

In [34]:
d.drop(["school","rownames"], axis=1, inplace=True)
d.head()

,married,gender,ethnicity,enroll,program,visits_category,exposure_category,children_category,age_category,income_category,access_category
0,no,female,cauc,yes,afdc,0-1,91-120,One,Young Adult,Low,Low Access
1,no,female,cauc,yes,afdc,0-1,61-90,Three,Young Adult,Low,Low Access
2,no,female,cauc,yes,afdc,0-1,91-120,Four or more,Child,Low,Low Access
3,no,female,cauc,yes,afdc,0-1,91-120,Two,Young Adult,Low,Low Access
4,no,female,cauc,yes,afdc,10+,91-120,One,Young Adult,Low,Low Access

In [35]:
d.to_csv("test2.csv", index=False)

In [36]:
ap=pd.DataFrame()

In [37]:
for col in d.columns:
    uniqitems=d[col].unique()
    for uniq in uniqitems:    
        ap[col+"_"+str(uniq)]= [1 if (str(value) == str(uniq)) else 0 for value in d[col]]

In [38]:
# ap.to_csv("test.csv", index=False)

In [39]:
ap

,married_no,married_yes,gender_female,gender_male,ethnicity_cauc,ethnicity_other,enroll_yes,enroll_no,program_afdc,program_ssi,...,children_category_Two,children_category_None,age_category_Young Adult,age_category_Child,age_category_Adult,age_category_Middle-Aged,age_category_Senior,income_category_Low,access_category_Low Access,access_category_nan
0,1,0,1,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
1,1,0,1,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
2,1,0,1,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,1,1,0
3,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,0,0,1,1,0
4,1,0,1,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,0,1,0,1,1,0,0,1,0,1,...,0,1,0,0,0,1,0,1,1,0
992,0,1,0,1,1,0,0,1,0,1,...,0,1,0,0,0,0,1,1,1,0
993,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,1,0,1,1,0
994,1,0,1,0,1,0,0,1,0,1,...,0,1,0,0,0,0,1,1,1,0
995,0,1,0,1,0,1,0,1,0,1,...,1,0,0,0,0,0,1,1,1,0

In [40]:
# minSup= 498/996

def L1(ap,minSup):
    my_series=ap.sum(axis=0)
    l1=my_series[my_series > minSup]
    print(l1)
    print(len(l1))
    return l1,l1.index

In [41]:
l1 , nw_col =L1(ap,498)
new_ap =ap[nw_col]
new_ap

married_no                    780
gender_female                 843
ethnicity_cauc                691
enroll_no                     506
program_ssi                   511
visits_category_0-1           609
exposure_category_91-120      945
income_category_Low           996
access_category_Low Access    954
dtype: int64
9

,married_no,gender_female,ethnicity_cauc,enroll_no,program_ssi,visits_category_0-1,exposure_category_91-120,income_category_Low,access_category_Low Access
0,1,1,1,0,0,1,1,1,1
1,1,1,1,0,0,1,0,1,1
2,1,1,1,0,0,1,1,1,1
3,1,1,1,0,0,1,1,1,1
4,1,1,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...
991,0,0,1,1,1,1,1,1,1
992,0,0,1,1,1,1,1,1,1
993,1,1,1,1,1,0,1,1,1
994,1,1,1,1,1,0,1,1,1
995,0,0,0,1,1,1,1,1,1

In [42]:
def ItemSet(itemSet_p,Minsup,data):
    list1=[]
    list2=[]
    for index, col1 in enumerate(itemSet_p.index[:-1]):
        for ind, col2 in enumerate(itemSet_p.index[index+1:]):
            if(col1.rsplit("+",1)[0]==col2.rsplit("+",1)[0]):
                new_col=col1 +"+"+ col2.rsplit("+",1)[-1]
                list1.append(new_col) 
                columns=new_col.split("+")
                condition = (data[columns[0]] == 1)
                for i in (columns[1:]):
                    condition &= (data[i] == 1)
                list2.append(len(data[condition]))
                
    new_SR=pd.Series(data=list2,
    index=list1)
    new_SR=new_SR[new_SR > Minsup]

    return new_SR

In [100]:
def Apriori(Minsup,data):
    my_series=ap.sum(axis=0)
    sr=my_series[my_series > Minsup]
    disct={"1_itemsets":sr}
    print("1_itemsets")
    print(l1)
    print(len(l1))
    print("\n")
    
    list1=[]
    list2=[]
    
    for index, col in enumerate(sr.index[:-1]):
        for ind, col2 in enumerate(data.columns[index+1:]):
            list1.append(col + "+" + col2 )
            list2.append( len(data[(data[col] == 1) & (data[col2] == 1)]))

    sr=pd.Series(data=list2,
        index=list1)
    sr=sr[sr > Minsup]
    sr1=sr
    niveau=2

    while(len(sr1)!=0):
        print(f"{niveau}_itemsets")
        print(sr1)
        print(len(sr1))
        print("\n")
        disct[f"{niveau}_itemsets"]=sr1
        sr1=ItemSet(sr1,Minsup,data)
        niveau+=1

    return disct



    

#l'idea est change le minsup minf----minsup----maxf ====> s9si ismail (decotomique)
#3la ap ji kter mn new_ap

In [101]:
dic =Apriori(498,new_ap)

1_itemsets
married_no                    780
gender_female                 843
ethnicity_cauc                691
enroll_no                     506
program_ssi                   511
visits_category_0-1           609
exposure_category_91-120      945
income_category_Low           996
access_category_Low Access    954
dtype: int64
9


2_itemsets
married_no+gender_female                               710
married_no+ethnicity_cauc                              565
married_no+exposure_category_91-120                    741
married_no+income_category_Low                         780
married_no+access_category_Low Access                  744
gender_female+ethnicity_cauc                           595
gender_female+visits_category_0-1                      515
gender_female+exposure_category_91-120                 803
gender_female+income_category_Low                      843
gender_female+access_category_Low Access               806
ethnicity_cauc+exposure_category_91-120                655
ethnicity_cauc+income_category_Low                     691
ethnicity_cauc+access_category_Low Access              666
enroll_no+income_category_Low                          506
program_ssi+income_category_Low                        511
visits_category_0-1+exposure_category_91-120           575
visits_category_0-1+income_category_Low                609
visits_category_0-1+access_category_Low Access         580
exposure_category_91-120+income_category_Low           945
exposure_category_91-120+access_category_Low Access    904
income_category_Low+access_category_Low Access         954
dtype: int64
21


3_itemsets
married_no+gender_female+ethnicity_cauc                                    517
married_no+gender_female+exposure_category_91-120                          674
married_no+gender_female+income_category_Low                               710
married_no+gender_female+access_category_Low Access                        677
married_no+ethnicity_cauc+exposure_category_91-120                         537
married_no+ethnicity_cauc+income_category_Low                              565
married_no+ethnicity_cauc+access_category_Low Access                       544
married_no+exposure_category_91-120+income_category_Low                    741
married_no+exposure_category_91-120+access_category_Low Access             706
married_no+income_category_Low+access_category_Low Access                  744
gender_female+ethnicity_cauc+exposure_category_91-120                      566
gender_female+ethnicity_cauc+income_category_Low                           595
gender_female+ethnicity_cauc+access_category_Low Access                    574
gender_female+visits_category_0-1+income_category_Low                      515
gender_female+exposure_category_91-120+income_category_Low                 803
gender_female+exposure_category_91-120+access_category_Low Access          767
gender_female+income_category_Low+access_category_Low Access               806
ethnicity_cauc+exposure_category_91-120+income_category_Low                655
ethnicity_cauc+exposure_category_91-120+access_category_Low Access         630
ethnicity_cauc+income_category_Low+access_category_Low Access              666
visits_category_0-1+exposure_category_91-120+income_category_Low           575
visits_category_0-1+exposure_category_91-120+access_category_Low Access    547
visits_category_0-1+income_category_Low+access_category_Low Access         580
exposure_category_91-120+income_category_Low+access_category_Low Access    904
dtype: int64
24


4_itemsets
married_no+gender_female+ethnicity_cauc+income_category_Low                                    517
married_no+gender_female+ethnicity_cauc+access_category_Low Access                             499
married_no+gender_female+exposure_category_91-120+income_category_Low                          674
married_no+gender_female+exposure_category_91-120+access_category_Low Access                   642
married_no+gender_female+income_category_Low+access_category_Low Access                        677
married_no+ethnicity_cauc+exposure_category_91-120+income_category_Low                         537
married_no+ethnicity_cauc+exposure_category_91-120+access_category_Low Access                  516
married_no+ethnicity_cauc+income_category_Low+access_category_Low Access                       544
married_no+exposure_category_91-120+income_category_Low+access_category_Low Access             706
gender_female+ethnicity_cauc+exposure_category_91-120+income_category_Low                      566
gender_female+ethnicity_cauc+exposure_category_91-120+access_category_Low Access               545
gender_female+ethnicity_cauc+income_category_Low+access_category_Low Access                    574
gender_female+exposure_category_91-120+income_category_Low+access_category_Low Access          767
ethnicity_cauc+exposure_category_91-120+income_category_Low+access_category_Low Access         630
visits_category_0-1+exposure_category_91-120+income_category_Low+access_category_Low Access    547
dtype: int64
15


5_itemsets
married_no+gender_female+ethnicity_cauc+income_category_Low+access_category_Low Access                  499
married_no+gender_female+exposure_category_91-120+income_category_Low+access_category_Low Access        642
married_no+ethnicity_cauc+exposure_category_91-120+income_category_Low+access_category_Low Access       516
gender_female+ethnicity_cauc+exposure_category_91-120+income_category_Low+access_category_Low Access    545
dtype: int64
4

C:\Users\admin\AppData\Local\Temp\ipykernel_23004\3534167064.py:15: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  new_SR=pd.Series(data=list2,

In [110]:
def sup(item_set):
    """
    jib sup in dictionary dic
    """
    if(len(item_set)>1):
        key=f"{len(item_set.split('+'))}_itemsets"
    else:
        key='1_itemsets'

    return dic[key][item_set] 
    

    # return frequence(Antécédant)/frequence(Conséquent)

def fucntion(Item_set):
    pass
    # return Regles

# Regle : A->B
# Confiance(A→B)=Sup(AB)/Sup(A)

In [113]:
def Calc_Confiance(Regle):
    Antecedant,Consequent=Regle.split("->")
    print(Antecedant)
    print(Consequent)
    Sup_A=sup(Antecedant)
    Sup_B=sup(Consequent)

    return Sup_A/Sup_B

In [114]:
A=Calc_Confiance("married_no+gender_female+ethnicity_cauc->income_category_Low")

married_no+gender_female+ethnicity_cauc
income_category_Low

KeyError: '1_itemsets'

In [102]:
dic

{'1__itemsets': married_no                    780
 gender_female                 843
 ethnicity_cauc                691
 enroll_no                     506
 program_ssi                   511
 visits_category_0-1           609
 exposure_category_91-120      945
 income_category_Low           996
 access_category_Low Access    954
 dtype: int64,
 '2_itemsets': married_no+gender_female                               710
 married_no+ethnicity_cauc                              565
 married_no+exposure_category_91-120                    741
 married_no+income_category_Low                         780
 married_no+access_category_Low Access                  744
 gender_female+ethnicity_cauc                           595
 gender_female+visits_category_0-1                      515
 gender_female+exposure_category_91-120                 803
 gender_female+income_category_Low                      843
 gender_female+access_category_Low Access               806
 ethnicity_cauc+exposure_category_91-120                655
 ethnicity_cauc+income_category_Low                     691
 ethnicity_cauc+access_category_Low Access              666
 enroll_no+income_category_Low                          506
 program_ssi+income_category_Low                        511
 visits_category_0-1+exposure_category_91-120           575
 visits_category_0-1+income_category_Low                609
 visits_category_0-1+access_category_Low Access         580
 exposure_category_91-120+income_category_Low           945
 exposure_category_91-120+access_category_Low Access    904
 income_category_Low+access_category_Low Access         954
 dtype: int64,
 '3_itemsets': married_no+gender_female+ethnicity_cauc                                    517
 married_no+gender_female+exposure_category_91-120                          674
 married_no+gender_female+income_category_Low                               710
 married_no+gender_female+access_category_Low Access                        677
 married_no+ethnicity_cauc+exposure_category_91-120                         537
 married_no+ethnicity_cauc+income_category_Low                              565
 married_no+ethnicity_cauc+access_category_Low Access                       544
 married_no+exposure_category_91-120+income_category_Low                    741
 married_no+exposure_category_91-120+access_category_Low Access             706
 married_no+income_category_Low+access_category_Low Access                  744
 gender_female+ethnicity_cauc+exposure_category_91-120                      566
 gender_female+ethnicity_cauc+income_category_Low                           595
 gender_female+ethnicity_cauc+access_category_Low Access                    574
 gender_female+visits_category_0-1+income_category_Low                      515
 gender_female+exposure_category_91-120+income_category_Low                 803
 gender_female+exposure_category_91-120+access_category_Low Access          767
 gender_female+income_category_Low+access_category_Low Access               806
 ethnicity_cauc+exposure_category_91-120+income_category_Low                655
 ethnicity_cauc+exposure_category_91-120+access_category_Low Access         630
 ethnicity_cauc+income_category_Low+access_category_Low Access              666
 visits_category_0-1+exposure_category_91-120+income_category_Low           575
 visits_category_0-1+exposure_category_91-120+access_category_Low Access    547
 visits_category_0-1+income_category_Low+access_category_Low Access         580
 exposure_category_91-120+income_category_Low+access_category_Low Access    904
 dtype: int64,
 '4_itemsets': married_no+gender_female+ethnicity_cauc+income_category_Low                                    517
 married_no+gender_female+ethnicity_cauc+access_category_Low Access                             499
 married_no+gender_female+exposure_category_91-120+income_category_Low                          674
 married_no+gender_female+exposure_category_91-120+access_category_Low Access                   642
 married_no+gender_female+income_category_Low+access_category_Low Access                        677
 married_no+ethnicity_cauc+exposure_category_91-120+income_category_Low                         537
 married_no+ethnicity_cauc+exposure_category_91-120+access_category_Low Access                  516
 married_no+ethnicity_cauc+income_category_Low+access_category_Low Access                       544
 married_no+exposure_category_91-120+income_category_Low+access_category_Low Access             706
 gender_female+ethnicity_cauc+exposure_category_91-120+income_category_Low                      566
 gender_female+ethnicity_cauc+exposure_category_91-120+access_category_Low Access               545
 gender_female+ethnicity_cauc+income_category_Low+access_category_Low Access                    574
 gender_female+exposure_category_91-120+income_category_Low+access_category_Low Access          767
 ethnicity_cauc+exposure_category_91-120+income_category_Low+access_category_Low Access         630
 visits_category_0-1+exposure_category_91-120+income_category_Low+access_category_Low Access    547
 dtype: int64,
 '5_itemsets': married_no+gender_female+ethnicity_cauc+income_category_Low+access_category_Low Access                  499
 married_no+gender_female+exposure_category_91-120+income_category_Low+access_category_Low Access        642
 married_no+ethnicity_cauc+exposure_category_91-120+income_category_Low+access_category_Low Access       516
 gender_female+ethnicity_cauc+exposure_category_91-120+income_category_Low+access_category_Low Access    545
 dtype: int64}