In [125]:
import pandas as  pd

In [138]:
d=pd.read_csv("./Projet/Medicaid1986.csv")
d.drop(["health1","health2"], axis=1, inplace=True)
d.head()

,rownames,visits,exposure,children,age,income,access,married,gender,ethnicity,school,enroll,program
0,1,0,100,1,24,14.500,0.50,no,female,cauc,13,yes,afdc
1,2,1,90,3,19,6.000,0.17,no,female,cauc,11,yes,afdc
2,3,0,106,4,17,8.377,0.42,no,female,cauc,12,yes,afdc
3,4,0,114,2,29,6.000,0.33,no,female,cauc,12,yes,afdc
4,5,11,115,1,26,8.500,0.67,no,female,cauc,16,yes,afdc

In [139]:
bins = {
    'visits': [-1, 1, 6, 10, float('inf')],
    'exposure': [0, 30, 60, 90, 120, float('inf')],
    'children': [-1, 0, 1, 2, 3, float('inf')],
    'age': [0, 18, 30, 50, 70, float('inf')],
    'income': [-1, 30, 50, 70, 90, float('inf')],
    'access': [ 0, 1, float('inf')],

}

labels = {
    'visits': ['0-1', 'between 2 and 6', 'between 7 and 10', '10+'],
    'exposure': ['0-30', '31-60', '61-90', '91-120', '120+'],
    'children': ['None', 'One', 'Two', 'Three', 'Four or more'],
    'age': ['Child', 'Young Adult', 'Adult', 'Middle-Aged', 'Senior'],
    'income': ['Low', 'Lower Middle', 'Middle', 'Upper Middle', 'High'],
    'access': ['Low Access', 'High Access'],

}

for feature in bins.keys():
    d[feature + '_category'] = pd.cut(d[feature], bins=bins[feature], labels=labels[feature])

d.drop(list(bins.keys()), axis=1, inplace=True)

In [140]:
d.drop(["school","rownames"], axis=1, inplace=True)
d.head()

,married,gender,ethnicity,enroll,program,visits_category,exposure_category,children_category,age_category,income_category,access_category
0,no,female,cauc,yes,afdc,0-1,91-120,One,Young Adult,Low,Low Access
1,no,female,cauc,yes,afdc,0-1,61-90,Three,Young Adult,Low,Low Access
2,no,female,cauc,yes,afdc,0-1,91-120,Four or more,Child,Low,Low Access
3,no,female,cauc,yes,afdc,0-1,91-120,Two,Young Adult,Low,Low Access
4,no,female,cauc,yes,afdc,10+,91-120,One,Young Adult,Low,Low Access

In [141]:
d.to_csv("test2.csv", index=False)

In [137]:
ap=pd.DataFrame()

In [142]:
for col in d.columns:
    uniqitems=d[col].unique()
    for uniq in uniqitems:    
        ap[col+"_"+str(uniq)]= [1 if (str(value) == str(uniq)) else 0 for value in d[col]]

In [144]:
ap

,married_no,married_yes,gender_female,gender_male,ethnicity_cauc,ethnicity_other,enroll_yes,enroll_no,program_afdc,program_ssi,...,children_category_Two,children_category_None,age_category_Young Adult,age_category_Child,age_category_Adult,age_category_Middle-Aged,age_category_Senior,income_category_Low,access_category_Low Access,access_category_nan
0,1,0,1,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
1,1,0,1,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
2,1,0,1,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,1,1,0
3,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,0,0,1,1,0
4,1,0,1,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,0,1,0,1,1,0,0,1,0,1,...,0,1,0,0,0,1,0,1,1,0
992,0,1,0,1,1,0,0,1,0,1,...,0,1,0,0,0,0,1,1,1,0
993,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,1,0,1,1,0
994,1,0,1,0,1,0,0,1,0,1,...,0,1,0,0,0,0,1,1,1,0
995,0,1,0,1,0,1,0,1,0,1,...,1,0,0,0,0,0,1,1,1,0

In [163]:
# minSup= 498/996

def L1(ap,minSup):
    ap.sum(axis=0)
    pass
    
    
    return

AttributeError: 'Series' object has no attribute 'columns'